doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Smart Delivery

    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap-horizon.css')
    link(rel='stylesheet', href='/stylesheets/lib/ladda-themeless.min.css')
    link(rel='stylesheet', href='/stylesheets/blockchain.css')

    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/spin.min.js')
    script(src='/javascripts/lib/ladda.min.js')
    script(src='/javascripts/lib/sha256.js')
    script(src='/javascripts/blockchain.js')
    script(src='https://www.gstatic.com/firebasejs/3.7.3/firebase.js')
    script(src='/javascripts/fireb.js')
  body
    block content
